* {
    outline: none;
}

$primary-color: #47b647;
$secondary-color: white;
$hover-color: #edfaed;
$tooltip-bg: #0f0f0f;
$tooltip-color: #fcfcfc;
$box-shadow: 0px 1px 4px 0px #0000003d;
$dot-size: 4px;
$track-height: 8px;

.headings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
}

.slider {
    display: flex;
    justify-content: space-between;
}

.track {
    background-color: $primary-color;
    height: $track-height;
    border-radius: 99px;
    align-self: center;
    display: flex;
    align-items: center;
    z-index: 0;
}

.dot {
    width: $dot-size;
    height: $dot-size;
    border-radius: 50%;
    background-color: $secondary-color;
    position: relative;
    z-index: -1;
}

.handle {
    background-color: $secondary-color;
    border-radius: 50%;
    box-shadow: $box-shadow;
    align-self: center;
    z-index: 2;
    position: relative;
    transition: background-color 0.3s;

    &.handle32 {
        width: 32px;
        height: 32px;
    }

    &.handle24 {
        width: 24px;
        height: 24px;
    }

    &:hover {
        background-color: $hover-color;
    }

    &::after {
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 2px solid transparent;
        pointer-events: none;
        transition: border 0.3s;
    }

    &:focus::after,
    &:active::after {
        border-color: $primary-color;
    }
}

.subhandle {
    background-color: $primary-color;
    border-radius: 50%;
    position: relative;

    &.subhandle32 {
        width: 16px;
        height: 16px;
        top: 8px;
        left: 8px;
    }

    &.subhandle24 {
        width: 12px;
        height: 12px;
        top: 6px;
        left: 6px;
    }
}

.react-tooltip {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px !important;
    font-size: 13.5px !important;
    background-color: $tooltip-bg !important;
    color: $tooltip-color !important;
    width: 12px !important;
    height: 20px !important;
    opacity: 100% !important;
}

.react-tooltip-arrow {
    width: 10px !important;
    height: 10px !important;
    left: 17px !important;
    bottom: -4px !important;
    border-radius: 2px !important;
}
